{% extends "base_site.html" %}

{% block content %}

<div class="container mt-0">
    <div class="row justify-content-center">
        <div class="col-lg-5 col-12">
            <div class="card-custom mt-2 mt-lg-0 help-card">
                <form action="list_of_initiatives.html">
                    <h4 class="font-weight-bold my-3" style="text-align: center">Contact Us</h4>
                    <div class="input-group mb-3 px-lg-3">
                        <input type="text" class="form-control" placeholder="Your Name" aria-label="Your Name"
                               aria-describedby="basic-addon1">
                    </div>
                    <div class="input-group mb-3 px-lg-3">
                        <input type="email" class="form-control" placeholder="Email" aria-label="Email"
                               aria-describedby="basic-addon1">
                    </div>
                    <div class="input-group mb-3 px-lg-3">
                        <input type="tel" class="form-control" placeholder="Phone No," aria-label="Phone No."
                               aria-describedby="basic-addon1">
                    </div>
                    <div class="input-group mb-3 px-lg-3">
                        <input type="text" class="form-control" placeholder="Message Title" aria-label="Message Title"
                               aria-describedby="basic-addon1">
                    </div>
                    <div class="input-group mb-3 px-lg-3">
                        <textarea rows="5" class="form-control" aria-label="With textarea" placeholder="Message Body"></textarea>
                    </div>


                    <div style="text-align: center" class=" mb-3 px-lg-3">
                        <button class="btn btn-outline-primary" style="width: 100%">Send Message</button>
                    </div>

                </form>

            </div>
        </div>
    </div>
</div>

{% endblock %}